<html>
    <head>
        <title>Pets - <%= result[0].pet_name %></title>
    </head>
    <body>
        <h1>Pets</h1>
        <ul>
            <li>Pet ID: <%= result[0].pet_id%></li>
            <li>Pet Name: <%= result[0].pet_name %></li>
            <li>Animal Type: <%= result[0].animal_type %></li>
            <li>Age: <%= result[0].pet_age %></li>
            <li>Gender: <%= result[0].gender %></li>
            <li>Description: <%= result[0].pet_description %></li>
            <li>Organization ID: <%= result[0].organization_id %></li>
            <li>Date Pet Was Brought In: <%= result[0].pet_name %></li>
            <li>Adopted By: <%= result[0].ssn %></li>
            <li>Date Pet Was Adopted: <%= result[0].adopted_date %></li>
        </ul>
    </body>
</html>