<!--
<html>
    <head>
        <title>Organizations - <!%= result[0].organization_name %!></title>
    </head>
    <body>
    -->
<%- include("../includes/header.ejs", {title:"An Organization"}); %>
        <h1>Our Pet Orphanage's Information</h1>
        <ul>
            <li>Organization ID: <%= result[0].organization_id%></li>
            <li>Organization Name: <%= result[0].organization_name %></li>
            <li>Address: <%= result[0].organization_address %></li>
        </ul>
<!--
    </body>
</html>
    -->
<%- include("../includes/footer.ejs"); %>